#
#  Copyright 2015 VMware, Inc.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#
---
- name: OMS vAPP
  vio_oms_deploy:
    hostname: "{{ vio_oms_vcenter_hostname }}"
    username: "{{ vio_oms_vcenter_username }}"
    password: "{{ vio_oms_vcenter_pwd }}"
    validate_certs: "{{ vcenter_validate_certs }}"
    vmname: "{{ oms_vm_name }}"
    ovftool_path: "{{ ovf_tool_path }}"
    path_to_ova: "{{ vio_ova_path }}"
    ova_file: "{{ vio_ova }}"
    datacenter: "{{ vio_oms_datacenter_name }}"
    cluster: "{{ vio_oms_cluster_name }}"
    disk_mode: "{{ oms_disk_mode }}"
    datastore: "{{ vio_oms_datastore }}"
    network: "{{ vio_oms_network }}"
    viouser_password: "{{ viouser_pwd }}"
    oms_hostname: "{{ oms_hostname }}"
    oms_ip: "{{ vio_oms_ip_address }}"
    oms_subnet: "{{ vio_oms_ip_subnet }}"
    oms_gateway: "{{ vio_oms_ip_gw}}"
    oms_dns_server_ip: "{{ oms_dns_list }}"
    oms_search_path: "{{ dns_domain_name }}"
    oms_ntp_server: "{{ ntp_server }}"
    oms_syslog_server: "{{ syslog_server }}"
    oms_syslog_protocol: "{{ vio_oms_syslog_protocol }}"
    oms_syslog_port: "{{ vio_oms_syslog_port }}"
    state: "{{ desired_state }}"
  register: oms_deploy
  tags:
    - deploy_vio_ova

- name: Get Vcenter VDS Moid
  vcenter_query:
    hostname: "{{ vio_oms_vcenter_hostname }}"
    username: "{{ vio_oms_vcenter_username }}"
    password: "{{ vio_oms_vcenter_pwd }}"
    validate_certs: False
    vcenter_object_name: "{{ vio_nsx_vds }}"
    vcenter_vim_type: "vds"
  register: vds_moid
  tags:
    - create_spec_file
    - create_spec_file_singlevm

- name: Get Compute Cluster Moid
  vcenter_query:
    hostname: "{{ vio_oms_vcenter_hostname }}"
    username: "{{ vio_oms_vcenter_username }}"
    password: "{{ vio_oms_vcenter_pwd }}"
    validate_certs: False
    vcenter_object_name: "{{ vio_nova_cluster }}"
    vcenter_vim_type: "cluster"
  register: compute_cluster_moid
  tags:
    - create_spec_file

- name: Get Edge Cluster Moid
  vcenter_query:
    hostname: "{{ vio_oms_vcenter_hostname }}"
    username: "{{ vio_oms_vcenter_username }}"
    password: "{{ vio_oms_vcenter_pwd }}"
    validate_certs: False
    vcenter_object_name: "{{ vio_nsx_edge_cluster }}"
    vcenter_vim_type: "cluster"
  register: edge_cluster_moid
  tags:
    - create_spec_file

- name: Get Management Cluster Moid
  vcenter_query:
    hostname: "{{ vio_oms_vcenter_hostname }}"
    username: "{{ vio_oms_vcenter_username }}"
    password: "{{ vio_oms_vcenter_pwd }}"
    validate_certs: False
    vcenter_object_name: "{{ vio_management_cluster }}"
    vcenter_vim_type: "cluster"
  register: management_cluster_moid
  tags:
    - create_spec_file

- name: Get Transport Zone Id
  nsx_vds_id:
    nsx_manager: "{{ vio_nsx_manager_ip }}"
    nsx_manager_username: "{{ vio_nsx_manager_username }}"
    nsx_manager_password: "{{ vio_nsx_manager_password }}"
    nsx_api_version: "2.0"
    vdnscope_name: "{{ vio_nsx_transport_zone }}"
  register: vdnscope_id
  tags:
    - create_spec_file

- name: Create Openstack VIO-Config configuration file HA Mode
  template:
    src: "{{ vio_cluster_spec_src }}"
    dest: "{{ vio_cluster_spec_dest }}"
  with_items:
    - { vdsmoid: "{{ vds_moid.object_id }}",
        vdnscopeid: "{{ vdnscope_id.object_id }}",
        edgeid: "{{ edge_cluster_moid.object_id }}",
        computeid: "{{ compute_cluster_moid.object_id }}",
        managementid: "{{ management_cluster_moid.object_id }}" }
  tags:
    - create_spec_file

- name: Kick off VIO Deployment
  vio_cluster_deploy:
    oms_server: "{{ vio_oms_ip_address }}"
    login: "{{ vio_oms_vcenter_username }}"
    password: "{{ vio_oms_vcenter_pwd }}"
    cluster_spec_json: "{{ vio_cluster_spec_dest }}"
    vio_mgmt_datastores: "{{ vio_mgmt_node_datastores }}"
    vio_deployment_name: "{{ vio_cluster_name }}"
    state: "{{ desired_state }}"
  tags:
    - vio_cluster

##### POST VIO Deployment #####
- name: Set Fact for Authentication User
  set_fact:
    authuser: "{{ vio_authentication_keystone_username }}"
    authpass: "{{ vio_authentication_keystone_password }}"
  no_log: True
  tags:
    - post_deploy
    - quick_val

- name: Get Auth Token
  os_auth:
    auth:
      auth_url: 'https://{{ vio_loadbalancer_vip }}:5000/v2.0'
      username: "{{ authuser }}"
      password: "{{ authpass }}"
      project_name: 'admin'
    validate_certs: False
  no_log: True
  register: adminauth
  tags:
    - post_deploy
    - quick_val

- name: Display Auth Token
  debug: msg="{{ adminauth.ansible_facts.auth_token }}"
  tags:
    - post_deploy
    - quick_val

- name: Get Portgroup MOID
  vcenter_query:
    hostname: "{{ vio_oms_vcenter_hostname }}"
    username: "{{ vio_oms_vcenter_username }}"
    password: "{{ vio_oms_vcenter_pwd }}"
    validate_certs: False
    vcenter_object_name: "{{ vio_val_extnet_portgroup }}"
    vcenter_vim_type: "dvs-port"
  register: ext_net_pg_moid
  tags:
    - post_deploy
    - quick_val

- name: Provider Network
  vio_provider_network:
    auth_url: "https://{{ vio_loadbalancer_vip }}:5000/v2.0"
    username: "{{ authuser }}"
    password: "{{ authpass }}"
    tenant_name: 'admin'
    state: "{{ desired_state }}"
    network:
      name: "{{ vio_val_ext_net_name }}"
      admin_state_up: True
      port_security_enabled: True
      provider_network_type: "{{ vio_val_extnet_net_type }}"
      provider_physical_network: "{{ ext_net_pg_moid.object_id }}"
      router_external: True
      shared: False
    subnet:
      name: "{{ vio_val_ext_net_name }}_subnet"
      enable_dhcp: False
      gateway_ip: "{{ vio_val_ext_net_gateway }}"
      ip_version: 4
      cidr: "{{ vio_val_ext_net_cidr }}"
      allocation_pools:
        - start: "{{ vio_val_ext_net_pool_start }}"
          end: "{{ vio_val_ext_net_pool_end }}"
  register: ext_net_id
  tags:
    - post_deploy

#### Quick Validation ####
- name: Demo Project
  os_projects:
    auth_url: 'https://{{ vio_loadbalancer_vip }}:5000/v3'
    auth_user: "{{ authuser }}"
    auth_password: "{{ authpass }}"
    auth_project: 'admin'
    auth_project_domain: 'default'
    auth_user_domain: 'default'
    project_name: "{{ demo_project_name }}"
    enabled: True
    state: "{{ desired_state }}"
  register: demo_project
  tags:
    - quick_val

- name: Debug demo project create
  debug: var=demo_project
  tags:
    - quick_val

- name: Demo User
  os_user:
    auth_url: 'https://{{ vio_loadbalancer_vip }}:5000/v3'
    auth_user: "{{ authuser }}"
    auth_password: "{{ authpass }}"
    auth_project: 'admin'
    auth_project_domain: 'default'
    auth_user_domain: 'default'
    user_name: "{{ demo_username }}"
    user_password: "{{ demo_user_password }}"
    default_project: "{{ demo_project_name }}"
    domain: 'default'
    roles:
      - '_member_'
      - 'heat_stack_user'
    state: "{{ desired_state }}"
  tags:
    - quick_val

- name: Get Toke for user
  os_auth:
    auth:
      auth_url: "https://{{ vio_loadbalancer_vip }}:5000/v2.0"
      username: "{{ demo_username }}"
      password: "{{ demo_user_password }}"
      project_name: "{{ demo_project_name }}"
    validate_certs: False
  register: user_token
  tags:
    - quick_val

- name: Get Provider Network ID
  vio_provider_network:
    auth_url: "https://{{ vio_loadbalancer_vip }}:5000/v2.0"
    username: "{{ authuser }}"
    password: "{{ authpass }}"
    tenant_name: 'admin'
    state: "{{ desired_state }}"
    network:
      name: "{{ vio_val_ext_net_name }}"
      admin_state_up: True
      port_security_enabled: True
      provider_network_type: "{{ vio_val_extnet_net_type }}"
      provider_physical_network: "{{ ext_net_pg_moid.object_id }}"
      router_external: True
      shared: False
    subnet:
      name: "{{ vio_val_ext_net_name }}_subnet"
      enable_dhcp: False
      gateway_ip: "{{ vio_val_ext_net_gateway }}"
      ip_version: 4
      cidr: "{{ vio_val_ext_net_cidr }}"
      allocation_pools:
        - start: "{{ vio_val_ext_net_pool_start }}"
          end: "{{ vio_val_ext_net_pool_end }}"
  register: ext_net_id
  tags:
    - quick_val

- name: Provider Network ID
  debug: msg="Provider Network ID --> {{ ext_net_id.net_id }}"
  tags:
    - quick_val

- name: Get Image ID for default Ubuntu Image
  os_image_facts:
    auth:
      auth_url: 'https://{{ vio_loadbalancer_vip }}:5000/v2.0'
      username: "{{ authuser }}"
      password: "{{ authpass }}"
      project_name: 'admin'
    validate_certs: False
    image: "{{ default_image_name | default('ubuntu-14.04-server-amd64') }}"
  no_log: True
  tags:
    - quick_val

- name: Image ID
  debug: msg="Ubuntu Image ID --> {{ openstack_image.id }}"
  tags:
    - quick_val

- name: Create Heat template
  template:
    src: "{{ quick_val_heat_template_src }}"
    dest: "{{ quick_val_heat_template_dest }}"
  with_items:
    - { stack_name: "{{ heat_stack_name }}",
        external_network_id: "{{ ext_net_id.net_id }}",
        image_id: "{{ openstack_image.id }}",
        dns_name_server: "{{ dns_server }}" }
  tags:
    - quick_val

## check if stack already present
- name: Check Heat stack
  os_check_heat:
    auth_url: "https://{{ vio_loadbalancer_vip }}:5000/v2.0"
    username: "{{ authuser }}"
    password: "{{ authpass }}"
    tenant_name: "admin"
    heat_stack_name: "{{ heat_stack_name }}"
  register: check_heat
  tags:
    - quick_val

- name: Check Heat Stack
  debug: msg="Heat Stack Present --> {{ check_heat.present }}"
  tags:
    - quick_val

## dpeloy stack in new project
- name: Heat Stack
  uri:
    url: "https://{{ vio_loadbalancer_vip }}:8004/v1/{{ demo_project.project_id }}/stacks"
    method: POST
    HEADER_Content-Type: "application/json"
    HEADER_X-Auth-Token: "{{ item.ansible_facts.auth_token }}"
    body: "{{ lookup('file', quick_val_heat_template_dest) }}"
    body_format: json
    validate_certs: no
    return_content: yes
    status_code: 201
  register: heat_stack_results
  when: not check_heat.present
  with_items:
    - "{{ user_token }}"
  tags:
    - quick_val

## delete stack

- name: Unregister VIO Extentions
  vio_unregister_extension:
    hostname: "{{ vio_oms_vcenter_hostname }}"
    username: "{{ vio_oms_vcenter_username }}"
    password: "{{ vio_oms_vcenter_pwd }}"
    validate_certs: "{{ vcenter_validate_certs }}"
    extention_type: 'vio'
    state: 'absent'
  tags:
    - unregister_vio_extentions

- name: Stat template files for clean up
  stat: path="{{ item }}"
  register: clean_up
  with_items:
    - "{{ quick_val_heat_template_dest }}"
    - "{{ vio_cluster_spec_dest }}"

- name: Clean up created files
  file:
    path: "{{ item }}"
    state: 'absent'
  when: item.state.exists
  with_items:
    - "{{ clean_up.results }}"
