{
	"configureNetworking": {
		"networkings": [
			{
				"isDhcp": false,
				"dns1": "10.132.71.1",
				"name": "VIO_EXTERNAL",
				"dns2": "10.132.71.2",
				"dnsList": [
					"10.132.71.1",
					"10.132.71.2"
				],
				"gateway": "10.146.30.253",
				"portGroup": "VIO_EXTERNAL",
				"ipBlocks": [
					{
						"beginIp": "10.146.30.201",
						"endIp": "10.146.30.203"
					}
				],
				"type": "static",
				"netmask": "255.255.255.128"
			},
			{
				"isDhcp": false,
				"dns1": "10.132.71.1",
				"name": "VIO_MGMT",
				"dns2": "10.132.71.2",
				"dnsList": [
					"10.132.71.1",
					"10.132.71.2"
				],
				"gateway": "10.146.29.253",
				"portGroup": "VIO_MGMT",
				"ipBlocks": [
					{
						"beginIp": "10.146.29.201",
						"endIp": "10.146.29.219"
					}
				],
				"type": "static",
				"netmask": "255.255.255.128"
			}
		]
	},
	"setupOpenstackAdminUser": {
		"admin_password": null,
		"admin_user": "admin",
		"admin_tenant_name": "admin"
	},
	"networkConfig": {
		"EXTERNAL_NETWORK": [
			"VIO_EXTERNAL"
		],
		"DATA_NETWORK": [
			"DSwitch"
		],
		"REPL_NETWORK": [
			"VIO_MGMT"
		],
		"MGT_NETWORK": [
			"VIO_MGMT"
		]
	},
	"configureNeutronNetworking": {
		"neutron_backend": "dvs",
		"dvs_default_name": "DSwitch",
		"networkings": null
	},
	"configureSyslogServer": {
		"syslog_server": "10.146.29.251"
	},
	"configureLoadBalancer": {
		"public_vip": "10.146.30.250",
		"public_hostname": ""
	},
	"configureKeystone": {
		"keystone_backend": "sql"
	},
	"reviewManagementClusterConfiguration": {
		"plan": null
	},
	"addNovaCluster": {
		"nova_cluster": "nova-compute-cluster1"
	},
	"reviewDeploymentProcess": {
		"vcenter_ip": "10.146.29.249",
		"vcenter_password": null,
		"vcenter_user": "administrator"
	},
	"addNovaDatastores": {
		"nova_datastore": "openstack-shared-ds1"
	},
	"selectADestination": {
		"vcClusterName": "openstack-mgmt"
	},
	"addGlanceDatastores": {
		"glance_datastores": "Datacenter:openstack-shared-ds1:100"
	}
}


- "VIO Deploy":
  - "Storage":
    - id: nova_datastore
      name: "Nova datastore"
      optional: 0
    - id: glance_datastores
      name: "List of Glance datastores (comma-delimited)"
      optional: 0
