{
  "name" : "{{ vio_cluster_name }}",
  "nodeGroups" : [ {
    "name" : "ControlPanel",
    "roles" : [ "LoadBalancer", "Controller", "MemoryCache", "ObjectStorage", "Database", "MessageQueue" ],
    "instanceNum" : 1,
    "cpuNum" : 8,
    "memCapacityMB" : 16384,
    "swapRatio" : 1.0,
    "haFlag" : "on",
    "attributes" : {
      "vcenter_user" : "{{ vio_oms_vcenter_username }}",
      "syslog_server" : "{{ syslog_server | ipaddr }}",
      "token_expiration_time" : "0",
      "nsxv_vdn_scope_moref" : "{{ item.vdnscopeid }}",
      "vcenter_password" : "{{ vio_oms_vcenter_pwd }}",
      "nsxv_metadata_proxy_ips" : "",
      "vcenter_certificate" : "",
      "region_name" : "nova",
      "nsxv_management_network_moref" : "",
      "nsxv_dvs_moref" : "{{ item.vdsmoid }}",
      "nsxv_dvs_name" : "{{ vio_nsx_vds }}",
      "public_hostname" : "{{ vio_loadbalancer_hostname }}",
      "management_default_gateway" : "",
      "horizon_regions" : "",
      "internal_vip" : "",
      "syslog_server_protocol" : "{{ vio_oms_syslog_protocol }}",
      "nsxv_resource_pool_moref" : "",
      "cinder_folder" : "",
      "nsxv_external_network_moref" : "{{ vio_nsx_external_network }}",
      "nsxv_metadata_network" : "",
      "vcenter_insecure" : "false",
      "public_vip" : "{{ vio_loadbalancer_vip | ipaddr }}",
      "syslog_server_tag" : "{{ vio_cluster_name }}",
      "glance_datastores" : "{{ vio_oms_datacenter_name }}:{{ vio_glance_datastore }}:100",
      "admin_password" : "{{ vio_authentication_keystone_password }}",
      "nsxv_metadata_proxy_netmask" : "",
      "nsxv_datastore_moref" : "",
      "dhcp_domain" : "",
      "nsxv_edge_cluster_moref" : "{{ item.edgeid }}",
      "nsxv_cluster_moref" : "",
      "management_network" : "",
      "nsxv_insecure" : "",
      "nsxv_username" : "{{ vio_nsx_manager_username }}",
      "neutron_backend" : "nsxv",
      "keystone_backend" : "sql",
      "nsxv_certificate" : "",
      "vcenter_ip" : "{{ vio_oms_vcenter_hostname }}",
      "syslog_server_port" : "514",
      "nsxv_exclusive_router_appliance_size" : "compact",
      "ceilometer_enabled" : "false",
      "nsxv_metadata_default_gateway" : "",
      "glance_folder" : "",
      "nsxv_datacenter_moref" : "",
      "nsxv_manager" : "{{ vio_nsx_manager_ip }}",
      "admin_user" : "{{ vio_authentication_keystone_username }}",
      "nsxv_edge_cluster_name" : "{{ vio_nsx_edge_cluster }}",
      "meter_interval" : "",
      "nsxv_edge_ha" : "False",
      "admin_tenant_name" : "admin",
      "nsxv_password" : "{{ vio_nsx_manager_password }}"
    }
  }, {
    "name" : "Compute",
    "roles" : [ "Compute" ],
    "instanceNum" : 1,
    "cpuNum" : 8,
    "memCapacityMB" : 16384,
    "swapRatio" : 1.0,
    "haFlag" : "on",
    "attributes" : {
      "region_name" : "nova"
    },
    "nodeAttributes" : [ {
      "cluster_name" : "{{ vio_nova_cluster }}",
      "datastore_regex" : "{{ vio_nova_datastore }}",
      "cluster_moid" : "{{ item.computeid }}"
    } ]
  } ],
  "vcClusters" : [ {
    "name" : "{{ vio_management_cluster }}",
    "moid" : "{{ item.managementid }}"
  } ],
  "networkConfig" : {
    "EXTERNAL_NETWORK" : [ "{{ vio_management_openstack_api_network_portgroup }}" ],
    "METADATA_NETWORK" : [ "{{ vio_management_network_portgroup }}" ],
    "DATA_NETWORK" : [ "{{ vio_management_network_portgroup }}" ],
    "MGT_NETWORK" : [ "{{ vio_management_network_portgroup }}" ],
    "REPL_NETWORK" : [ "{{ vio_management_network_portgroup }}" ]
  },
  "networkings" : [ {
    "name" : "{{ vio_management_openstack_api_network_portgroup }}",
    "portGroup" : "{{ vio_management_openstack_api_network_portgroup }}",
    "isDhcp" : false,
    "type" : "static",
    "dns1" : "{{ dns_server | ipaddr }}",
    "ipBlocks" : [ {
      "beginIp" : "{ vio_management_openstack_api_network_ip_start | ipaddr }}",
      "endIp" : "{{ vio_management_openstack_api_network_ip_end | ipaddr }}"
    } ],
    "gateway" : "{{ vio_management_openstack_api_network_gateway | ipaddr }}",
    "netmask" : "{{ vio_management_openstack_api_network_subnet | ipaddr }}",
    "dnsList" : [ "{{ dns_server | ipaddr }}" ]
  }, {
    "name" : "{{ vio_management_network_portgroup }}",
    "portGroup" : "{{ vio_management_network_portgroup }}",
    "isDhcp" : false,
    "type" : "static",
    "dns1" : "{{ dns_server | ipaddr }}",
    "ipBlocks" : [ {
      "beginIp" : "{{ vio_management_network_ip_start | ipaddr }}",
      "endIp" : "{{ vio_management_network_ip_end | ipaddr }}"
    } ],
    "gateway" : "{{ vio_management_network_gateway | ipaddr }}",
    "netmask" : "{{ vio_management_network_subnet | ipaddr }}",
    "dnsList" : [ "{{ dns_server | ipaddr }}" ]
  } ],
  "specFile" : true,
  "attributes" : {
    "deployment_type": "SINGLEVM",
    "plan" : ""
  }
}
